body {
  margin:0px auto;
  max-width:650px;
  line-height:1.6;
  font-size:20px;
  font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#777;
  background-color: #FCFCFC;
  padding:0 10px;
}

.container {
  margin: 40px 20px;
}

hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #777;
  margin:1em 0;
  padding:0;
}

h1,h2,h3 {
  line-height:1.2;
}

h1 {
  font-size:250%;
}

a {
  color:#fc7e0d;
}

.social-link {
  margin: 5px;
}

.social-link:first-child {
  margin-left: 0px;
}

::selection {
  background: #fc7e0d;
  color: #FFF;
}
::-moz-selection {
  background: #fc7e0d;
  color: #FFF;
}

img.autoscale {
  max-width: 100%;
}

a.button {
  background-color: #fc7e0d;
  border: 1px solid #fc7e0d;
  color: #FFF;
  font-weight: bold;
  padding: 5px;
  border-radius:3px;
  font-size: inherit;
  text-decoration:none;
}

a.button:hover {
    background-color: #fd9235;
}
